In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.1.3-cp311-cp311-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 7.9 MB/s eta 0:00:00
Collecting numpy<2,>=1.23.2
  Downloading numpy-1.26.2-cp311-cp311-win_amd64.whl (15.8 MB)
     ---------------------------------------- 15.8/15.8 MB 9.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ashfaqali\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
     ------------------------------------- 502.5/502.5 kB 10.5 MB/s eta 0:00:00
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ------------------------------------- 341.8/341.8 kB 10.4 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\ashfaqali\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.2 pandas-2.1.3 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install beautifulsoup4

Collecting beautifulsoup4
  Downloading beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
     -------------------------------------- 143.0/143.0 kB 2.8 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.12.2 soupsieve-2.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install requests

Collecting requests
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
     -------------------------------------- 62.6/62.6 kB 830.7 kB/s eta 0:00:00
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.3.2-cp311-cp311-win_amd64.whl (99 kB)
     ---------------------------------------- 99.9/99.9 kB 2.8 MB/s eta 0:00:00
Collecting idna<4,>=2.5
  Downloading idna-3.6-py3-none-any.whl (61 kB)
     ---------------------------------------- 61.6/61.6 kB 3.2 MB/s eta 0:00:00
Collecting urllib3<3,>=1.21.1
  Downloading urllib3-2.1.0-py3-none-any.whl (104 kB)
     -------------------------------------- 104.6/104.6 kB 5.9 MB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2023.11.17-py3-none-any.whl (162 kB)
     ------------------------------------- 162.5/162.5 kB 10.2 MB/s eta 0:00:00
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2023.11.17 charset-normalizer-3.3.2 idna-3.6 requests-2.31.0 urllib3-2.1.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.3-cp311-cp311-win_amd64.whl (3.8 MB)
     ---------------------------------------- 3.8/3.8 MB 911.1 kB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
 
url = r"https://www.screener.in/company/IRFC/"
response = requests.get(url)
 
if response.status_code == 200:
    html_code = response.text
    soup = BeautifulSoup(html_code, 'html.parser')
    tables = soup.find_all('table')
    dataframes = []
    for table in tables:
        df = pd.read_html(str(table))[0]
        dataframes.append(df)
 
    for idx, df in enumerate(dataframes):
        print(f"Table {idx + 1}:\n{df}\n\n")
        # df.to_csv("Quarterly_Results.csv",index=False)
        # break
 
else:
    print(f"Failed and Status code: {response.status_code}")

Table 1:
           Unnamed: 0 Sep 2020 Dec 2020 Mar 2021 Jun 2021 Sep 2021 Dec 2021  \
0             Sales +     3714     3932     4455     4582     4690     5096
1          Expenses +       19        7       51        3       28        9
2    Operating Profit     3695     3925     4404     4578     4662     5087
3               OPM %     100%     100%      99%     100%      99%     100%
4      Other Income +        0        0        0        0        0        1
5            Interest     2700     2878     2918     3073     3157     3491
6        Depreciation        0        0        4        3        3        3
7   Profit before tax      995     1047     1483     1502     1501     1594
8               Tax %       0%       0%       0%       0%       0%       0%
9        Net Profit +      995     1047     1483     1502     1501     1594
10          EPS in Rs     0.84     0.88     1.13     1.15     1.15     1.22
11            Raw PDF      NaN      NaN      NaN      NaN      NaN      NaN

   Mar 2022 Jun 2022 Sep 2022 Dec 2022 Mar 2023 Jun 2023 Sep 2023
0      5932     5627     5810     6218     6236     6679     6767
1        82       23       34       31       47       29       34
2      5849     5605     5776     6188     6189     6650     6733
3       99%     100%      99%     100%      99%     100%     100%
4         1        0        1        4       36        2        1
5      4353     3940     4059     4554     4895     5091     5181
6         5        4        4        4        3        4        2
7      1493     1662     1714     1633     1328     1557     1550
8        0%       0%       0%       0%       0%       0%       0%
9      1492     1662     1714     1633     1328     1557     1550
10     1.14     1.27     1.31     1.25     1.02     1.19     1.19
11      NaN      NaN      NaN      NaN      NaN      NaN      NaN


Table 2:
           Unnamed: 0 Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016 Mar 2017  \
0             Sales +     4642     5550     6197     6939     7507     9047
1          Expenses +        9       22       19       34       38       26
2    Operating Profit     4633     5528     6178     6905     7468     9021
3               OPM %     100%     100%     100%     100%      99%     100%
4      Other Income +        1        2        1        1        1        0
5            Interest     3620     4075     4607     4992     5519     6888
6        Depreciation        0        0        0        0        0        0
7   Profit before tax     1013     1454     1572     1914     1950     2133
8               Tax %      53%      64%      55%      60%      56%      56%
9        Net Profit +      481      522      701      758      849      934
10          EPS in Rs   228.73   221.76   209.04   211.58   187.50   143.08
11  Dividend Payout %      21%      21%       6%      20%      40%      40%

   Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023    TTM
0      9267    11134    13421    15771    20299    23892  25900
1        38       48       66      113      123      134    141
2      9229    11085    13355    15657    20177    23758  25760
3      100%     100%     100%      99%      99%      99%    99%
4         1       -0        0        0        2       41     43
5      6638     8183    10163    11237    14075    17447  19721
6         0        0        0        4       14       14     13
7      2592     2902     3192     4416     6090     6337   6068
8       21%      22%       0%       0%       0%       0%    NaN
9      2055     2255     3192     4416     6090     6337   6068
10     3.15     2.40     2.69     3.38     4.66     4.85   4.65
11      18%      18%       0%      31%      30%      31%    NaN


Table 3:
  Compounded Sales Growth Compounded Sales Growth.1
0               10 Years:                       16%
1                5 Years:                       21%
2                3 Years:                       21%
3                    TTM:                       15%


Table 4:
  Compounded Profit Growth Compounded Profit Growth.1
0                10 Years:                        28%
1                 5 Years:                        25%
2                 3 Years:                        26%
3                     TTM:                        -6%


Table 5:
  Stock Price CAGR Stock Price CAGR.1
0        10 Years:                  %
1         5 Years:                  %
2         3 Years:                  %
3          1 Year:               127%


Table 6:
  Return on Equity Return on Equity.1
0        10 Years:                13%
1         5 Years:                14%
2         3 Years:                15%
3       Last Year:                15%


Table 7:
            Unnamed: 0  Mar 2012  Mar 2013  Mar 2014  Mar 2015  Mar 2016  \
0       Equity Capital      2102      2352      3352      3584      4526
1             Reserves      3299      4042      4210      5098      6999
2         Borrowings +     50251     58753     69917     71270     87503
3  Other Liabilities +      4424      5608      6451      7696      9372
4    Total Liabilities     60076     70755     83930     87647    108400
5       Fixed Assets +        13        13        13        12        12
6                 CWIP         0         0         0         0         0
7          Investments        15        13        11         9         8
8       Other Assets +     60048     70729     83906     87626    108381
9         Total Assets     60076     70755     83930     87647    108400

   Mar 2017  Mar 2018  Mar 2019  Mar 2020  Mar 2021  Mar 2022  Mar 2023  \
0      6526      6526      9380     11880     13069     13069     13069
1      5483      7402     15648     18419     22845     27928     32402
2    106395    134006    173933    234377    323145    388440    418935
3     11245     13534      7642     10828     21423     20544     26742
4    129650    161468    206604    275504    380482    449980    491147
5        12        11        11        11        45        38        19
6         0         0         0         0         0         0         0
7         8        14        13        12        12        10        14
8    129630    161443    206579    275482    380424    449932    491114
9    129650    161468    206604    275504    380482    449980    491147

   Sep 2023
0     13069
1     34615
2    406443
3     42888
4    497014
5        26
6         0
7        35
8    496953
9    497014


Table 8:
                       Unnamed: 0  Mar 2012  Mar 2013  Mar 2014  Mar 2015  \
0  Cash from Operating Activity +       NaN       NaN       NaN       NaN
1  Cash from Investing Activity +       NaN       NaN       NaN       NaN
2  Cash from Financing Activity +       NaN       NaN       NaN       NaN
3                   Net Cash Flow       NaN       NaN       NaN       NaN

   Mar 2016  Mar 2017  Mar 2018  Mar 2019  Mar 2020  Mar 2021  Mar 2022  \
0    -16378    -19455    -28076    -41748    -62701    -89907    -64412
1         2         2         2         1         1         0        -5
2     17582     18250     28075     41749     62697     90202     64266
3      1206     -1204         0         3        -2       296      -151

   Mar 2023
0    -28584
1         0
2     28643
3        60


Table 9:
              Unnamed: 0  Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016  \
0            Debtor Days       0.0        0        0        0        0
1         Inventory Days       NaN      NaN      NaN      NaN      NaN
2           Days Payable       NaN      NaN      NaN      NaN      NaN
3  Cash Conversion Cycle       0.0        0        0        0        0
4   Working Capital Days     -27.0     -171      -17      221      295
5                 ROCE %       NaN       9%       9%       9%       8%

  Mar 2017 Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023
0        0        0        0        0        0     3609     3730
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3        0        0        0        0        0     3609     3730
4      263     5869     6326     7020     8137     7593     6995
5       8%       7%       6%       6%       5%       5%       5%


Table 10:
            Unnamed: 0 Mar 2021 Jun 2021 Sep 2021 Dec 2021 Mar 2022 Jun 2022  \
0          Promoters +   86.36%   86.36%   86.36%   86.36%   86.36%   86.36%
1               FIIs +    1.44%    0.86%    1.06%    1.09%    1.12%    1.02%
2               DIIs +    4.23%    3.74%    3.18%    3.20%    3.18%    3.25%
3             Public +    7.97%    9.03%    9.40%    9.34%    9.33%    9.36%
4  No. of Shareholders  1352259  1449111  1477212  1519487  1515226  1490302

  Sep 2022 Dec 2022 Mar 2023 Jun 2023 Sep 2023
0   86.36%   86.36%   86.36%   86.36%   86.36%
1    1.05%    1.01%    1.15%    1.14%    1.14%
2    3.39%    2.97%    2.62%    2.02%    1.63%
3    9.19%    9.66%    9.87%   10.49%   10.88%
4  1459497  1605726  1634919  1805740  2703000


Table 11:
            Unnamed: 0 Mar 2021 Mar 2022 Mar 2023 Sep 2023
0          Promoters +   86.36%   86.36%   86.36%   86.36%
1               FIIs +    1.44%    1.12%    1.15%    1.14%
2               DIIs +    4.23%    3.18%    2.62%    1.63%
3             Public +    7.97%    9.33%    9.87%   10.88%
4  No. of Shareholders  1352259  1515226  1634919  2703000

C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1673784717.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1673784717.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1673784717.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1673784717.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1673784717.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1673784717.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1673784717.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1673784717.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1673784717.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1673784717.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1673784717.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

## Profit & Loss

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.screener.in/company/IRFC/'  # Replace 'YOUR_URL_HERE' with the actual URL

# Fetch the webpage content
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the section with the specified class
    profit_loss_section = soup.find('section', {'id': 'profit-loss', 'class': 'card card-large'})

    # Find the table within the section
    table = profit_loss_section.find('table', {'class': 'data-table responsive-text-nowrap'})

    # Extract data from the table
    if table:
        rows = table.find_all('tr')

        # Initialize data dictionary for DataFrame
        data_dict = {}
        columns = None

        for row in rows:
            cells = row.find_all(['td', 'th'])
            if not columns:
                # Extract column names from the first row (header)
                columns = [cell.text.strip() for cell in cells]
                for col in columns:
                    data_dict[col] = []

            else:
                # Extract data for each column
                for i, cell in enumerate(cells):
                    data_dict[columns[i]].append(cell.text.strip())

        # Create a DataFrame from the data dictionary
        df = pd.DataFrame(data_dict)
        print(df)

    else:
        print("Table not found on the page.")

else:
    print('Failed to fetch the webpage')

                      Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016 Mar 2017  \
0             Sales +    4,642    5,550    6,197    6,939    7,507    9,047
1          Expenses +        9       22       19       34       38       26
2    Operating Profit    4,633    5,528    6,178    6,905    7,468    9,021
3               OPM %     100%     100%     100%     100%      99%     100%
4      Other Income +        1        2        1        1        1        0
5            Interest    3,620    4,075    4,607    4,992    5,519    6,888
6        Depreciation        0        0        0        0        0        0
7   Profit before tax    1,013    1,454    1,572    1,914    1,950    2,133
8               Tax %      53%      64%      55%      60%      56%      56%
9        Net Profit +      481      522      701      758      849      934
10          EPS in Rs   228.73   221.76   209.04   211.58   187.50   143.08
11  Dividend Payout %      21%      21%       6%      20%      40%      40%

   Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023     TTM
0     9,267   11,134   13,421   15,771   20,299   23,892  25,900
1        38       48       66      113      123      134     141
2     9,229   11,085   13,355   15,657   20,177   23,758  25,760
3      100%     100%     100%      99%      99%      99%     99%
4         1       -0        0        0        2       41      43
5     6,638    8,183   10,163   11,237   14,075   17,447  19,721
6         0        0        0        4       14       14      13
7     2,592    2,902    3,192    4,416    6,090    6,337   6,068
8       21%      22%       0%       0%       0%       0%
9     2,055    2,255    3,192    4,416    6,090    6,337   6,068
10     3.15     2.40     2.69     3.38     4.66     4.85    4.65
11      18%      18%       0%      31%      30%      31%

## Quarterly Results

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.screener.in/company/IRFC/'  # Replace 'YOUR_URL_HERE' with the actual URL

# Fetch the webpage content
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the section with the specified class
    profit_loss_section = soup.find('section', {'id': 'quarters', 'class': 'card card-large'})

    # Find the table within the section
    table = profit_loss_section.find('table', {'class': 'data-table responsive-text-nowrap'})

    # Extract data from the table
    if table:
        rows = table.find_all('tr')

        # Initialize data dictionary for DataFrame
        data_dict = {}
        columns = None

        for row in rows:
            cells = row.find_all(['td', 'th'])
            if not columns:
                # Extract column names from the first row (header)
                columns = [cell.text.strip() for cell in cells]
                for col in columns:
                    data_dict[col] = []

            else:
                # Extract data for each column
                for i, cell in enumerate(cells):
                    data_dict[columns[i]].append(cell.text.strip())

        # Create a DataFrame from the data dictionary
        df = pd.DataFrame(data_dict)
        print(df)

    else:
        print("Table not found on the page.")

else:
    print('Failed to fetch the webpage')

                      Sep 2020 Dec 2020 Mar 2021 Jun 2021 Sep 2021 Dec 2021  \
0             Sales +    3,714    3,932    4,455    4,582    4,690    5,096
1          Expenses +       19        7       51        3       28        9
2    Operating Profit    3,695    3,925    4,404    4,578    4,662    5,087
3               OPM %     100%     100%      99%     100%      99%     100%
4      Other Income +        0        0        0        0        0        1
5            Interest    2,700    2,878    2,918    3,073    3,157    3,491
6        Depreciation        0        0        4        3        3        3
7   Profit before tax      995    1,047    1,483    1,502    1,501    1,594
8               Tax %       0%       0%       0%       0%       0%       0%
9        Net Profit +      995    1,047    1,483    1,502    1,501    1,594
10          EPS in Rs     0.84     0.88     1.13     1.15     1.15     1.22
11            Raw PDF

   Mar 2022 Jun 2022 Sep 2022 Dec 2022 Mar 2023 Jun 2023 Sep 2023
0     5,932    5,627    5,810    6,218    6,236    6,679    6,767
1        82       23       34       31       47       29       34
2     5,849    5,605    5,776    6,188    6,189    6,650    6,733
3       99%     100%      99%     100%      99%     100%     100%
4         1        0        1        4       36        2        1
5     4,353    3,940    4,059    4,554    4,895    5,091    5,181
6         5        4        4        4        3        4        2
7     1,493    1,662    1,714    1,633    1,328    1,557    1,550
8        0%       0%       0%       0%       0%       0%       0%
9     1,492    1,662    1,714    1,633    1,328    1,557    1,550
10     1.14     1.27     1.31     1.25     1.02     1.19     1.19
11

## Balance Sheet

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.screener.in/company/IRFC/'  # Replace 'YOUR_URL_HERE' with the actual URL

# Fetch the webpage content
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the section with the specified class
    profit_loss_section = soup.find('section', {'id': 'balance-sheet', 'class': 'card card-large'})

    # Find the table within the section
    table = profit_loss_section.find('table', {'class': 'data-table responsive-text-nowrap'})

    # Extract data from the table
    if table:
        rows = table.find_all('tr')

        # Initialize data dictionary for DataFrame
        data_dict = {}
        columns = None

        for row in rows:
            cells = row.find_all(['td', 'th'])
            if not columns:
                # Extract column names from the first row (header)
                columns = [cell.text.strip() for cell in cells]
                for col in columns:
                    data_dict[col] = []

            else:
                # Extract data for each column
                for i, cell in enumerate(cells):
                    data_dict[columns[i]].append(cell.text.strip())

        # Create a DataFrame from the data dictionary
        df = pd.DataFrame(data_dict)
        print(df)

    else:
        print("Table not found on the page.")

else:
    print('Failed to fetch the webpage')

                       Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016 Mar 2017  \
0       Equity Capital    2,102    2,352    3,352    3,584    4,526    6,526
1             Reserves    3,299    4,042    4,210    5,098    6,999    5,483
2         Borrowings +   50,251   58,753   69,917   71,270   87,503  106,395
3  Other Liabilities +    4,424    5,608    6,451    7,696    9,372   11,245
4    Total Liabilities   60,076   70,755   83,930   87,647  108,400  129,650
5       Fixed Assets +       13       13       13       12       12       12
6                 CWIP        0        0        0        0        0        0
7          Investments       15       13       11        9        8        8
8       Other Assets +   60,048   70,729   83,906   87,626  108,381  129,630
9         Total Assets   60,076   70,755   83,930   87,647  108,400  129,650

  Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023 Sep 2023
0    6,526    9,380   11,880   13,069   13,069   13,069   13,069
1    7,402   15,648   18,419   22,845   27,928   32,402   34,615
2  134,006  173,933  234,377  323,145  388,440  418,935  406,443
3   13,534    7,642   10,828   21,423   20,544   26,742   42,888
4  161,468  206,604  275,504  380,482  449,980  491,147  497,014
5       11       11       11       45       38       19       26
6        0        0        0        0        0        0        0
7       14       13       12       12       10       14       35
8  161,443  206,579  275,482  380,424  449,932  491,114  496,953
9  161,468  206,604  275,504  380,482  449,980  491,147  497,014

## Cash Flows

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.screener.in/company/IRFC/'  # Replace 'YOUR_URL_HERE' with the actual URL

# Fetch the webpage content
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the section with the specified class
    profit_loss_section = soup.find('section', {'id': 'cash-flow', 'class': 'card card-large'})

    # Find the table within the section
    table = profit_loss_section.find('table', {'class': 'data-table responsive-text-nowrap'})

    # Extract data from the table
    if table:
        rows = table.find_all('tr')

        # Initialize data dictionary for DataFrame
        data_dict = {}
        columns = None

        for row in rows:
            cells = row.find_all(['td', 'th'])
            if not columns:
                # Extract column names from the first row (header)
                columns = [cell.text.strip() for cell in cells]
                for col in columns:
                    data_dict[col] = []

            else:
                # Extract data for each column
                for i, cell in enumerate(cells):
                    data_dict[columns[i]].append(cell.text.strip())

        # Create a DataFrame from the data dictionary
        df = pd.DataFrame(data_dict)
        print(df)

    else:
        print("Table not found on the page.")

else:
    print('Failed to fetch the webpage')

                                  Mar 2012 Mar 2013 Mar 2014 Mar 2015  \
0  Cash from Operating Activity +
1  Cash from Investing Activity +
2  Cash from Financing Activity +
3                   Net Cash Flow

  Mar 2016 Mar 2017 Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023
0  -16,378  -19,455  -28,076  -41,748  -62,701  -89,907  -64,412  -28,584
1        2        2        2        1        1        0       -5        0
2   17,582   18,250   28,075   41,749   62,697   90,202   64,266   28,643
3    1,206   -1,204        0        3       -2      296     -151       60

## Ratios

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.screener.in/company/IRFC/'  # Replace 'YOUR_URL_HERE' with the actual URL

# Fetch the webpage content
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the section with the specified class
    profit_loss_section = soup.find('section', {'id': 'ratios', 'class': 'card card-large'})

    # Find the table within the section
    table = profit_loss_section.find('table', {'class': 'data-table responsive-text-nowrap'})

    # Extract data from the table
    if table:
        rows = table.find_all('tr')

        # Initialize data dictionary for DataFrame
        data_dict = {}
        columns = None

        for row in rows:
            cells = row.find_all(['td', 'th'])
            if not columns:
                # Extract column names from the first row (header)
                columns = [cell.text.strip() for cell in cells]
                for col in columns:
                    data_dict[col] = []

            else:
                # Extract data for each column
                for i, cell in enumerate(cells):
                    data_dict[columns[i]].append(cell.text.strip())

        # Create a DataFrame from the data dictionary
        df = pd.DataFrame(data_dict)
        print(df)

    else:
        print("Table not found on the page.")

else:
    print('Failed to fetch the webpage')

                         Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016  \
0            Debtor Days        0        0        0        0        0
1         Inventory Days
2           Days Payable
3  Cash Conversion Cycle        0        0        0        0        0
4   Working Capital Days      -27     -171      -17      221      295
5                 ROCE %                9%       9%       9%       8%

  Mar 2017 Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023
0        0        0        0        0        0    3,609    3,730
1
2
3        0        0        0        0        0    3,609    3,730
4      263    5,869    6,326    7,020    8,137    7,593    6,995
5       8%       7%       6%       6%       5%       5%       5%

## Run all tables in loop and save in csv

In [7]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

url = r"https://www.screener.in/company/IRFC/"
response = requests.get(url)

List_df_names = ['Quarterly Results','Profit & Loss','Compounded Sales Growth','Compounded Profit Growth',
                 'Stock Price CAGR','Return on Equity','Balance Sheet','Cash Flows','Ratios','Shareholding Pattern','duplicate_Shareholding Pattern']

if response.status_code == 200:
    html_code = response.text
    soup = BeautifulSoup(html_code, 'html.parser')
    tables = soup.find_all('table')
    dataframes = []

    for idx, table in enumerate(tables):
        df = pd.read_html(str(table))[0]
        dataframes.append(df)

        # Check if the index is within the range of List_df_names
        if idx < len(List_df_names):
            # Assign the name to the DataFrame
            df_name = List_df_names[idx]
            print(f"{df_name} DataFrame:\n{df}\n\n")
            
            # Save each DataFrame to a CSV file with the corresponding name
            df.to_csv(f"{df_name}.csv", index=False)

else:
    print(f"Failed and Status code: {response.status_code}")

Quarterly Results DataFrame:
           Unnamed: 0 Sep 2020 Dec 2020 Mar 2021 Jun 2021 Sep 2021 Dec 2021  \
0             Sales +     3714     3932     4455     4582     4690     5096
1          Expenses +       19        7       51        3       28        9
2    Operating Profit     3695     3925     4404     4578     4662     5087
3               OPM %     100%     100%      99%     100%      99%     100%
4      Other Income +        0        0        0        0        0        1
5            Interest     2700     2878     2918     3073     3157     3491
6        Depreciation        0        0        4        3        3        3
7   Profit before tax      995     1047     1483     1502     1501     1594
8               Tax %       0%       0%       0%       0%       0%       0%
9        Net Profit +      995     1047     1483     1502     1501     1594
10          EPS in Rs     0.84     0.88     1.13     1.15     1.15     1.22
11            Raw PDF      NaN      NaN      NaN      NaN      NaN      NaN

   Mar 2022 Jun 2022 Sep 2022 Dec 2022 Mar 2023 Jun 2023 Sep 2023
0      5932     5627     5810     6218     6236     6679     6767
1        82       23       34       31       47       29       34
2      5849     5605     5776     6188     6189     6650     6733
3       99%     100%      99%     100%      99%     100%     100%
4         1        0        1        4       36        2        1
5      4353     3940     4059     4554     4895     5091     5181
6         5        4        4        4        3        4        2
7      1493     1662     1714     1633     1328     1557     1550
8        0%       0%       0%       0%       0%       0%       0%
9      1492     1662     1714     1633     1328     1557     1550
10     1.14     1.27     1.31     1.25     1.02     1.19     1.19
11      NaN      NaN      NaN      NaN      NaN      NaN      NaN


Profit & Loss DataFrame:
           Unnamed: 0 Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016 Mar 2017  \
0             Sales +     4642     5550     6197     6939     7507     9047
1          Expenses +        9       22       19       34       38       26
2    Operating Profit     4633     5528     6178     6905     7468     9021
3               OPM %     100%     100%     100%     100%      99%     100%
4      Other Income +        1        2        1        1        1        0
5            Interest     3620     4075     4607     4992     5519     6888
6        Depreciation        0        0        0        0        0        0
7   Profit before tax     1013     1454     1572     1914     1950     2133
8               Tax %      53%      64%      55%      60%      56%      56%
9        Net Profit +      481      522      701      758      849      934
10          EPS in Rs   228.73   221.76   209.04   211.58   187.50   143.08
11  Dividend Payout %      21%      21%       6%      20%      40%      40%

   Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023    TTM
0      9267    11134    13421    15771    20299    23892  25900
1        38       48       66      113      123      134    141
2      9229    11085    13355    15657    20177    23758  25760
3      100%     100%     100%      99%      99%      99%    99%
4         1       -0        0        0        2       41     43
5      6638     8183    10163    11237    14075    17447  19721
6         0        0        0        4       14       14     13
7      2592     2902     3192     4416     6090     6337   6068
8       21%      22%       0%       0%       0%       0%    NaN
9      2055     2255     3192     4416     6090     6337   6068
10     3.15     2.40     2.69     3.38     4.66     4.85   4.65
11      18%      18%       0%      31%      30%      31%    NaN


Compounded Sales Growth DataFrame:
  Compounded Sales Growth Compounded Sales Growth.1
0               10 Years:                       16%
1                5 Years:                       21%
2                3 Years:                       21%
3                    TTM:                       15%


Compounded Profit Growth DataFrame:
  Compounded Profit Growth Compounded Profit Growth.1
0                10 Years:                        28%
1                 5 Years:                        25%
2                 3 Years:                        26%
3                     TTM:                        -6%


Stock Price CAGR DataFrame:
  Stock Price CAGR Stock Price CAGR.1
0        10 Years:                  %
1         5 Years:                  %
2         3 Years:                  %
3          1 Year:               127%


Return on Equity DataFrame:
  Return on Equity Return on Equity.1
0        10 Years:                13%
1         5 Years:                14%
2         3 Years:                15%
3       Last Year:                15%


Balance Sheet DataFrame:
            Unnamed: 0  Mar 2012  Mar 2013  Mar 2014  Mar 2015  Mar 2016  \
0       Equity Capital      2102      2352      3352      3584      4526
1             Reserves      3299      4042      4210      5098      6999
2         Borrowings +     50251     58753     69917     71270     87503
3  Other Liabilities +      4424      5608      6451      7696      9372
4    Total Liabilities     60076     70755     83930     87647    108400
5       Fixed Assets +        13        13        13        12        12
6                 CWIP         0         0         0         0         0
7          Investments        15        13        11         9         8
8       Other Assets +     60048     70729     83906     87626    108381
9         Total Assets     60076     70755     83930     87647    108400

   Mar 2017  Mar 2018  Mar 2019  Mar 2020  Mar 2021  Mar 2022  Mar 2023  \
0      6526      6526      9380     11880     13069     13069     13069
1      5483      7402     15648     18419     22845     27928     32402
2    106395    134006    173933    234377    323145    388440    418935
3     11245     13534      7642     10828     21423     20544     26742
4    129650    161468    206604    275504    380482    449980    491147
5        12        11        11        11        45        38        19
6         0         0         0         0         0         0         0
7         8        14        13        12        12        10        14
8    129630    161443    206579    275482    380424    449932    491114
9    129650    161468    206604    275504    380482    449980    491147

   Sep 2023
0     13069
1     34615
2    406443
3     42888
4    497014
5        26
6         0
7        35
8    496953
9    497014


Cash Flows DataFrame:
                       Unnamed: 0  Mar 2012  Mar 2013  Mar 2014  Mar 2015  \
0  Cash from Operating Activity +       NaN       NaN       NaN       NaN
1  Cash from Investing Activity +       NaN       NaN       NaN       NaN
2  Cash from Financing Activity +       NaN       NaN       NaN       NaN
3                   Net Cash Flow       NaN       NaN       NaN       NaN

   Mar 2016  Mar 2017  Mar 2018  Mar 2019  Mar 2020  Mar 2021  Mar 2022  \
0    -16378    -19455    -28076    -41748    -62701    -89907    -64412
1         2         2         2         1         1         0        -5
2     17582     18250     28075     41749     62697     90202     64266
3      1206     -1204         0         3        -2       296      -151

   Mar 2023
0    -28584
1         0
2     28643
3        60


Ratios DataFrame:
              Unnamed: 0  Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016  \
0            Debtor Days       0.0        0        0        0        0
1         Inventory Days       NaN      NaN      NaN      NaN      NaN
2           Days Payable       NaN      NaN      NaN      NaN      NaN
3  Cash Conversion Cycle       0.0        0        0        0        0
4   Working Capital Days     -27.0     -171      -17      221      295
5                 ROCE %       NaN       9%       9%       9%       8%

  Mar 2017 Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023
0        0        0        0        0        0     3609     3730
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3        0        0        0        0        0     3609     3730
4      263     5869     6326     7020     8137     7593     6995
5       8%       7%       6%       6%       5%       5%       5%


Shareholding Pattern DataFrame:
            Unnamed: 0 Mar 2021 Jun 2021 Sep 2021 Dec 2021 Mar 2022 Jun 2022  \
0          Promoters +   86.36%   86.36%   86.36%   86.36%   86.36%   86.36%
1               FIIs +    1.44%    0.86%    1.06%    1.09%    1.12%    1.02%
2               DIIs +    4.23%    3.74%    3.18%    3.20%    3.18%    3.25%
3             Public +    7.97%    9.03%    9.40%    9.34%    9.33%    9.36%
4  No. of Shareholders  1352259  1449111  1477212  1519487  1515226  1490302

  Sep 2022 Dec 2022 Mar 2023 Jun 2023 Sep 2023
0   86.36%   86.36%   86.36%   86.36%   86.36%
1    1.05%    1.01%    1.15%    1.14%    1.14%
2    3.39%    2.97%    2.62%    2.02%    1.63%
3    9.19%    9.66%    9.87%   10.49%   10.88%
4  1459497  1605726  1634919  1805740  2703000


duplicate_Shareholding Pattern DataFrame:
            Unnamed: 0 Mar 2021 Mar 2022 Mar 2023 Sep 2023
0          Promoters +   86.36%   86.36%   86.36%   86.36%
1               FIIs +    1.44%    1.12%    1.15%    1.14%
2               DIIs +    4.23%    3.18%    2.62%    1.63%
3             Public +    7.97%    9.33%    9.87%   10.88%
4  No. of Shareholders  1352259  1515226  1634919  2703000

C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\AshfaqAli\AppData\Local\Temp\ipykernel_19988\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]